  <!-- Homepage Slider -->
  <div class="homepage-slider">
    <div id="sequence">
      <ul class="sequence-canvas">
        <!-- Slide 1 -->
        <li class="bg4">
          <!-- Slide Title -->
          <h2 class="title">Beautiful Styling</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">Markdown and HTML integration allow you to quickly create beautiful Wikis</h3>
          <!-- Slide Image -->
          <img class="slide-img" style="overflow: hidden;" height="500" width="500" src="img/homepage-slider/markdowncloseup.png" alt="Slide 1" />
        </li>
        <!-- End Slide 1 -->
        <!-- Slide 2 -->
        <li class="bg3">
          <!-- Slide Title -->
          <h2 class="title">Collaboration Made Easy</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">Build Wikis together. Add as many or as few friends and co-workers as you decide.</h3>
          <!-- Slide Image -->
          <img class="slide-img" style="overflow: hidden;" height="500" width="500" src="img/homepage-slider/collaboration.png" alt="Slide 2" />
        </li>
        <!-- End Slide 2 -->
        <!-- Slide 3 -->
        <li class="bg1">
          <!-- Slide Title -->
          <h2 class="title">Privacy That You Want</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">Create private wikis easily. You decide who can view and edit your wikis.</h3>
          <!-- Slide Image -->
          <img class="slide-img" style="overflow: hidden;" height="500" width="500" src="img/homepage-slider/privacy.png" alt="Slide 3" />
        </li>
        <!-- End Slide 3 -->
      </ul>
      <div class="sequence-pagination-wrapper">
        <ul class="sequence-pagination">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Homepage Slider -->

<!-- Services -->
  <div class="section">
    <div class="container" id="features">
      <h2>Features</h2>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="service-wrapper">
            <img src="img/service-icon/diamond.png" alt="Service 1">
            <h3>Markdown Integration</h3>
            <p>Create beautiful Wikis quickly with the Markdown syntax. HTML is also supported.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-wrapper">
            <img src="img/service-icon/ruler.png" alt="Service 2">
            <h3>Easy Collaboration</h3>
            <p>Collaborate with friends or co-workers to build the Wikis you need.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-wrapper">
            <img src="img/service-icon/box.png" alt="Service 3">
            <h3>Configure Privacy</h3>
            <p>You decide who can view and edit your Wikis. Easily switch from public to private Wikis</p>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- End Services -->

<!-- Press Coverage -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="in-press press-wired">
          <a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="in-press press-mashable">
          <a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="in-press press-techcrunch">
          <a href="#">Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat vitae</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Press Coverage -->

<!-- Pricing Table -->
<div class="section">
  <div class="container" id="pricingTable">
    <h2>Pricing</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="loginpricingdiv">
              <div class="pricing-wrapper">
                <div class="pricing-plan">
                    <h2 class="pricing-plan-title">Basic</h2>
                  <div class="pricing-plan-price">FREE</div>
                  <ul class="pricing-plan-features">
                    <li>Single Account</li>
                    <li>Unlimited <strong>Public</strong> Wikis</li>
                    <li>2GB storage</li>
                  </ul>
                  <%= link_to "Select plan", new_user_registration_path(plan: 0), class: "btn", data: { no_turbolink: true } %>
                  
                </div>
                <div class="pricing-plan pricing-plan-promote">
                  <div class="ribbon-wrapper">
                      <div class="price-ribbon ribbon-red">Popular</div>
                    </div>
                  <h2 class="pricing-plan-title">Premium</h2>
                  <div class="pricing-plan-price">$10<span>/mo</span></div>
                  <ul class="pricing-plan-features">
                    <li>Single Account</li>
                    <li>Unlimited <strong>Private</strong> Wikis</li>
                    <li>2GB storage</li>
                  </ul>
                  <%= link_to "Select plan", new_user_registration_path(plan: 1), class: "btn", data: { no_turbolink: true } %>
                </div>
                <div class="pricing-plan">
                  <h2 class="pricing-plan-title">Enterprise</h2>
                  <div class="pricing-plan-price">$50<span>/mo</span></div>
                  <ul class="pricing-plan-features">
                    <li>Unlimited Accounts</li>
                    <li>Unlimited <strong>Private</strong> Wikis</li>
                    <li><strong>Unlimited storage</strong></li>
                  </ul>
                <%= link_to "Select plan", new_user_registration_path(plan: 2), class: "btn", data: { no_turbolink: true } %>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End Pricing Table -->

<!-- Our Clients -->
<div class="section">
  <div class="container">
    <h2>Our Clients</h2>
  <div class="clients-logo-wrapper text-center row">
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/canon.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/cisco.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/dell.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/ea.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/ebay.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/facebook.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/google.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/hp.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/microsoft.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/mysql.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/sony.png" alt="Client Name"></a></div>
    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/yahoo.png" alt="Client Name"></a></div>
  </div>
</div>
</div>
<!-- End Our Clients -->