<h1>Dashboards#show</h1>
<%= link_to "My Wiki's", user_wikis_path(@user), class: 'btn btn-primary btn-lg' %>
<%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary btn-lg', data: { no_turbolink: true } %>
