/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */
@import "bootstrap";

.user-info {
  margin-top: 21px;
  font-size: 1.2em;
}

#wiki_title {
  height: 50px; 
  font-size:150%
}

#show-wiki-body {
  background-color: #FFF;
  padding: 5px;
  box-shadow: -5px -5px 10px #888;
  min-height: 300px;
}

.logindiv {
  width: 40%;
  margin: 0 auto;
}

.loginpricingdiv {
  width: 60%;
  margin: 0 auto;
}

#exp_year {
  width: auto;
  display: inline;
  float: right;
  margin-right: 2px;
}

#exp_month {
  width: auto;
  display: inline;
  float: right;
  margin-right: 2px;
}

#cvc {
  width: 75px;
  display: inline;
  float: right;
}

html, body {
  height: 100%;
}

main {
  /* Firefox */
  min-height: -moz-calc(100% - 370px);
  /* WebKit */
  min-height: -webkit-calc(100% - 370px);
  /* Opera */
  min-height: -o-calc(100% - 370px);
  /* Standard */
  min-height: calc(100% - 370px);
}

.footer {
/*  display: inline-block;*/
  width: 100%;
}

.btn {
  line-height:normal!important; 
}

.hackySpan {
  font-size: 1.2em; 
  padding: 1.2em 1.5em; 
  cursor: pointer; 
  color: #999; 
  display: inline-block; 
  text-decoration: none;
  display: block;
}

.hackySpan:hover {
  color: #4F8DB3;
}