/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.user-info {
  margin-top: 21px;
  font-size: 1.2em;
}

#wiki_title {
  height: 50px; 
  font-size:150%
}

#show-wiki-body {
  background-color: #FFF;
  padding: 5px;
  box-shadow: -5px -5px 10px #888;
}

.logindiv {
  width: 40%;
  margin: 0 auto;
}

.loginpricingdiv {
  width: 60%;
  margin: 0 auto;
}

#exp_year {
  width: auto;
  display: inline;
  float: right;
  margin-right: 2px;
}

#exp_month {
  width: auto;
  display: inline;
  float: right;
  margin-right: 2px;
}

#cvc {
  width: 75px;
  display: inline;
  float: right;
}

html, body {
  height: 100%;
}

main {
  margin-bottom: -297px;
  min-height: 92%;
}

.footer {
  display: inline-block;
  width: 100%;
}
