/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */
@import "bootstrap";

/* I need to override the bootstrap default here to make the navbar look better*/

  .mainmenu {
    font-size: 0.8em;
  }
  .mainmenu-submenu {
    font-size: 1.2em;
  }
  .mainmenu-submenu li,
  .mainmenu-submenu h4 {
    padding-left: 10px;
  }

@media screen and (max-width: 479px) {

  .loginpricingdiv {
    width: 100%;
    margin: 0 auto auto auto;
  }

  .pricing-plan {
    width: 100%;
  }

  .mmLogo {
    width: auto !important;
    display: block;
  }

  .mainmenu {
    /*font-size: 120%;*/
    float: left;
    font-size: 100% !important;
    /*width: auto !important;*/
  }
  .mainmenu > ul,
  .mainmenu .mainmenu-submenu-inner {
    width: 100%;
    padding: 0;
  }
  .mainmenu .mainmenu-submenu-inner {
    padding: 0 1.5em;
    font-size: 75%;
  }
  .mainmenu > ul > li {
    display: block;
    border-bottom: none !important;
  }
  .mainmenu > ul > li > a {
    /*display: block;*/
    padding: 1em 3em;
  }
  .mainmenu > ul > li:last-child {
    border: none;
  }
  .mainmenu .mainmenu-submenu {
    position: relative;
  }
  .mainmenu-submenu h4 {
    padding-top: 0.6em;
  }
  .mainmenu .mainmenu-submenu-inner > div {
    width: 100%;
    float: none;
    padding: 0;
  }

  .user-info {
    float: left !important;
    padding-left: 20px;
  }
}


@media (min-width: 568px) {

  .loginpricingdiv {
    width: 100%;
    margin: 0 auto auto auto;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-header {
    display: block;
    float: left;
  }
}


.user-info {
  margin-top: 21px;
  font-size: 1.2em;
}

#wiki_title {
  height: 50px; 
  font-size:150%
}

#show-wiki-body {
  background-color: #FFF;
  padding: 5px;
  box-shadow: -5px -5px 10px #888;
  min-height: 300px;
}

.logindiv {
  width: 40%;
  margin: 0 auto;
}


#exp_year {
  width: auto;
  display: inline;
  float: right;
  margin-right: 2px;
}

#exp_month {
  width: auto;
  display: inline;
  float: right;
  margin-right: 2px;
}

#cvc {
  width: 75px;
  display: inline;
  float: right;
}

html, body {
  height: 100%;
}

main {
  /* Firefox */
  min-height: -moz-calc(100% - 316px);
  /* WebKit */
  min-height: -webkit-calc(100% - 316px);
  /* Opera */
  min-height: -o-calc(100% - 316px);
  /* Standard */
  min-height: calc(100% - 316px);
}

.footer {
/*  display: inline-block;*/
  width: 100%;
}

.btn {
  line-height:normal!important; 
}

.hackySpan {
  font-size: 1.2em; 
  padding: 1.2em 1.5em; 
  cursor: pointer; 
  color: #999; 
  display: inline-block; 
  text-decoration: none;
  display: block;
  padding-top: 21px;
}

.hackySpan:hover {
  color: #4F8DB3;
}